@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
  --hover-foreground: blue;
  --border-color: gray;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}
